/*body {
    background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0,0)),url(../images/blue1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.one{
    background-color:darkgrey;

}
.two{
    background-image:url(../images/blue.jpg);

}
.three{

    background-color:beige;

}

#1 {
    background-image: url(../images/blue1.jpg);
}*/


